<div class="fsn-tab">

  <mat-card>
    <mat-card-header>
      <!--Subtitle-->
      <mat-card-title  fxLayoutAlign="start start">Consutlas Médicas</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!--Error o result message should be a component-->
  <div class="fsn-tab-content" *ngIf="error">
    <div fxLayout="row" fxLayoutAlign="center center">
      ¡Lo sentimos!, Ha ocurrido un error
    </div>
  </div>
  <!--[End] Error-->

  <!--header-->
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!error&&!loading">
    <div class="fsn-tab-content fsn-filter">
      <b>Hospital: </b>
      <mat-form-field>
        <!--mat-select [(value)]="selected"--->
        <mat-select value="option1">
          <mat-option value="option1">Nombre Hospital 1</mat-option>
          <mat-option value="option2">Nombre Hospital 2</mat-option>
          <mat-option value="option3">Nombre Hospital 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!--[End] header-->

  <!--medical Consultations-->
  <div class="fsn-tab-content"><!--*ngIf="flights.length>0 && !error && !loading"-->

    <!--Counter--><!--[End] Counter-->
    <!--Download--><!--[End] Download-->

    <!--Table-->
    <header class="fns-table">
      <div fxFlex="3" fxFlexOffset="2"  fxLayoutAlign="end center">Id</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="center center">P/Atendidos</div>
      <div fxFlex="20" fxFlexOffset="2" fxLayoutAlign="start center">Nombre del especialista</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">Estado</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">Tipo Consulta</div>
      <div fxFlex="25" fxFlexOffset="2" fxLayoutAlign="start center">Acciones</div>
    </header>

    <main>
      <div fxLayout="row">
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="end center">1</div>
        <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="center center">2</div>
        <div fxFlex="20" fxFlexOffset="2" fxLayoutAlign="start center">Daniel Gutierrez</div>

        <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">
            <mat-select [(value)]="statusSelected">
              <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let status of _medicalConsultationStatus">
                <mat-option [(value)]="status">{{status.name}}</mat-option>
              </div>
            </mat-select>
        </div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">Pediatría</div>
      <div fxFlex="25" fxFlexOffset="2" fxLayoutAlign="start center">
        <button mat-button>
          <mat-icon>control_point</mat-icon>
          Atender Paciente
        </button>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      </div>
    </main>
    <!--[End] Table-->

    <!--Paginator--><!--[End] Paginator-->
  </div>
</div>
<!-- [End] Content-->
