<div class="fsn-tab">

  <!--Creation of the patient-->
  <mat-card >
    <mat-card-header fxLayout="column" fxLayoutGap="1vh">

      <!--Subtitle And indicators-->
      <div fxLayout="row">

        <mat-card-title fxLayoutAlign="start start">Ingreso del paciente</mat-card-title>

        <!--Indicadores-->
        <div  fxLayout="row" fxLayoutAlign="start start"  class="fns-button-row">
          <button mat-stroked-button type="button" >Niño</button>
          <button mat-stroked-button type="button" color="primary" >Pendiente</button>
          <button mat-stroked-button type="button" >Prioridad: 5.5</button>
          <button mat-stroked-button type="button" >Riesgo: 0.20</button>
        </div>
        <!--[End] Indicadores-->

        <!--Add New Patient-->
        <div fxLayoutAlign="end start" class="fns-button-row">
            <button mat-stroked-button (click)="savePatient(patient)">
              <mat-icon>control_point</mat-icon>
              Ingresar Paciente
            </button>
        </div>

        <!--[End] Add New Patient-->
      </div>
      <!--[End] Subtitle indicators-->
    </mat-card-header>

    <mat-divider></mat-divider>

    <!--Creation From -->
    <form [formGroup]="patientForm" class="fns-form">
        <table  fxLayout="column" cellspacing="10">
          <tr>
            <!--medical history-->
            <td fxLayoutAlign="center center">
              <mat-form-field class="example-full-width">
                <input name="medicalHistory" type="text"
                       [formControl]="patientForm.controls['medicalHistoryForm']"
                       [errorStateMatcher]="matcher"
                       matInput placeholder="Historia Clínica">
              </mat-form-field>
            </td>
            <!-- patient name-->
            <td fxLayoutAlign="center center">
              <mat-form-field class="fns-full-width">
                <input name="patientName" type="text"
                       [formControl]="patientForm.controls['patientNameForm']"
                       [errorStateMatcher]="matcher"
                       matInput placeholder="Nombre del paciente"
                >
              </mat-form-field>
            </td>

            <!--patient age-->
            <td fxFlex="10" fxContent fxLayoutAlign="center center">
              <mat-form-field class="example-full-width">
                <input name="age" type="text"
                  [formControl]="patientForm.controls['ageForm']"
                  [errorStateMatcher]="matcher"
                  matInput placeholder="Edad" min="0" max="100"
                >
              </mat-form-field>
            </td>

            <!-- Fumador-->
            <td fxFlex="10" fxLayoutAlign="center center">Fumador</td>
            <td fxLayoutAlign="center center">
              <div fxLayout="row" fxContent fxLayoutAlign="center center">
                <mat-slide-toggle>No</mat-slide-toggle>
              </div>
            <td>
            <td fxFlex="5" fxContent fxLayoutAlign="center center">
              <div fxLayout="row">
                <input name="yearSmoker" type="number"
                       matInput
                       placeholder="Años"  min="0" max="100">
              </div>
            </td>

            <!--Tiene Dieta-->
            <td fxFlex="10" fxLayoutAlign="center center">Fumador</td>
            <td fxLayoutAlign="center center">
              <div fxLayout="row" fxContent fxLayoutAlign="center center">
                <mat-slide-toggle>No</mat-slide-toggle>
              </div>
            <td>
            <td fxFlex="5" fxContent fxLayoutAlign="center center">
              <div fxLayout="row">
                <input name="yearSmoker" type="number"
                       matInput
                       placeholder="Años">
              </div>
            </td>

            <td fxFlex="10">
              <mat-form-field>
                <mat-select
                  [formControl]="patientForm.controls['weightHeightForm']"
                  [(ngModel)]="selected" placeholder="Peso / Estatura">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="3">4</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    <!--[End Creatopn Form]-->
  <!--[End] Creation patient-->
  </mat-card>

  <!--Filter-->
  <div fxLayout="column" fxLayoutGap="1vh">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div  class="fsn-tab-content fsn-filter">
        <b>Hospital: </b>
        <div>
          <mat-select [(value)]="hospitalSelected" *ngFor="let hospital of hospitals | async">
            <mat-option value="{{hospital}}">{{hospital.name}}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="fsn-tab-content fsn-filter">
        <mat-radio-group fxLayout="row" fxLayoutAlign="start center">
          <div *ngFor="let filter of patientFiltersType" id="problem">
            <mat-radio-button [(value)]="filter.id">{{filter.name}}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

    </div>
  </div>

  <!--[End] Filter Patient-->


  <!--Patients-->
  <div class="fsn-tab-content" *ngIf="!ess && !error && !loading">

    <!--Counter--><!--[End] Counter--> <!--Download--><!--[End] Download-->

    <!--Table-->
    <header class="fns-table">
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">Historia Clínica</div>
      <div fxFlex="20" fxFlexOffset="2" fxLayoutAlign="start center">Nombre</div>
      <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="end center">Edad</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="end center">Peso/Estatura</div>
      <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center">Fumador</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="center center">años/Fumador</div>
      <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="center center">Dieta</div>
    </header>

    <main>
      <div fxLayout="row" *ngFor="let patient of patients.data">
        <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="start center">{{patient.medical_history}}</div>
        <div fxFlex="20" fxFlexOffset="2" fxLayoutAlign="start center">{{patient.name}}</div>
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="end center">{{patient.age}}</div>
        <div fxFlex="10" fxFlexOffset="2" fxLayoutAlign="end center">{{patient.weight_height}}</div>
        <!--patient smoker-->
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="patient.Fumador && patient.age>=16">S
        </div>
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="!patient.Fumador && patient.age>=16">N
        </div>
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="!patient.Fumador && patient.age">-</div>

        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="patient.Fumador && patient.age>=16">
          {{patient.year_smoker}}
        </div>
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="!patient.Fumador && patient.age>=16">-
        </div>
        <!--patient on diet-->
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="patient.on_diet">{{patient.on_diet}}</div>
        <div fxFlex="3" fxFlexOffset="2" fxLayoutAlign="center center" *ngIf="!patient.on_diet">=16">-</div>

      </div>
      <!--[In the future] Pagination --><!--[End] Pagination-->
    </main>
    <!--[End] Table-->


    <!--Paginator--><!--[End] Paginator-->

  <!-- [End] Content-->
</div>
